html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
