:root {
  --color-dark: #2C2D35;
  --color-green: #598D66;
  --color-dark-green: #376B44;
  --color-grey: #86928B;
  --color-light-green: #E1EDE6;
  --color-white: #FFFFFF;
  --color-bg: #F4F6F5;


  --font-base: 'Raleway', sans-serif;

  --font-size-base: 18px;
  --font-size-accent: 20px;

  --padding-button: 20px 60px;

  --transition-duration: 0.3s;
}